.finance {
  background: url(/assets/finance.jfif);
  height: 300px;
  position: relative;
  z-index: 1;
  background-size: cover;
}
.finance::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
.financing_card .card {
  box-shadow: 2px 2px 3px;
  padding: 10px;
}
.pay {
  background-color: var(--primary-color);
}
.click_btn {
  background-color: #ffde59;
}
.finance_content {
  background: #000000;
  color: #fff;
  padding: 10px 0;
}
.finance_plan {
  background-color: var(--primary-color);
  color: #fff;
}
.about_head_1{
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}