
.transmission_hero {
  background-image: url(/assets/transmission_1.webp);
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* margin-bottom: 100px; */
}
.transmission_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009688;
  opacity: 0.3;
  z-index: -1;
}
.transmission_form {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 20px 50px 50px 50px;
  border-radius: 20px;
  /* margin-bottom: -50px; */
}

.transmission_form .form_select,.transmission_form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #cccdd1;
  outline: none;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  box-shadow: none;
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231eb7c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m2 5 6 6 6-6'/%3e%3c/svg%3e ");
}
.transmission_form form {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.transmission-btn {
  background-color: #000;
}
.find_transmission{
  margin-top: 3rem;
}
.find_transmission h4{
  font-size: 2em;
  font-weight: bold;
}
.find_transmission h4 span{
  color: var(--primary-color);
}
.transmission_card{
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border: none;
}
.transmission_card i {
  font-size: 24px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: var(--primary-color);
}
.transmission_content {
  background: url(/assets/engine.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  z-index: 1;
  position: relative;
}
.transmission_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.transmission_content h5 {
  font-size: 2.9em;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.transmission-para .card {
  border: none;
  box-shadow: 2px 2px 2px;
}
.transmission-para .card:hover {
  box-shadow: 5px 5px 10px;
}
.read_btn {
  color: var(--primary-color);
}
.theme_btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0;
}
/*--------------Responsive---------------------------*/
@media (max-width: 768px) {
  .col {
    flex: auto;
    border-bottom: 1px solid var(--primary-color);
  }
  .col:last-child {
    border: none;
    margin-top: 10px;
  }

  .find_transmission{
    margin-top: 20px;
  }
  .transmission_content h5 {
    font-size: 2em;
  }
  .transmission_form {
    padding: 15px;
  }

}
@media (max-width: 576px){
  .transmission_form {
    order: 1;

    margin-bottom: 20px;
  }
  .transmission_hero {
    order:2;
  }
}

