
.engine_hero {
  background-image: url(/assets/engine-banner-web.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* margin-bottom: 100px; */
}
.engine_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009688;
  opacity: 0.3;
  z-index: -1;
}
.order{
  background-color: var(--primary-color);
  color: #fff;
}
/*--------------------------------responsive----------------------*/
@media (max-width: 576px) {
  .transmission_form {
    order: 1;
    margin-bottom: 20px;
  }
  .engine_hero {
    order: 2;
  }
}
